
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
.venv/
env/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Type checker
.mypy_cache/
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*

# SQLite
*.sqlite3
db.sqlite3

# Temporary files
*.tmp
*.temp

# Python version
.python-version

